{namespace jh=Heilmann\JhBasketballbundImport2\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

    <f:render partial="Team/{jh:format.underscoredToUpperCamelCase(string: settings.displaycontent)}" arguments="{settings: settings, layout: layout, content: content}" />

    <div class="update"><f:translate key="lastUpdate" /> {content.lastupdate->f:format.date(format:'d.m.Y - H:i:s')}</div>
    <div class="source"><f:translate key="source" /> <a href="{content.link}" target="_blank">www.basketball-bund.net</a></div>

</f:section>